@model IEnumerable<ex_1285453.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-5 text-center text-primary">Customer Information Setup</h1>
<hr />
<form id="customerForm" method="post" asp-action="Save" enctype="multipart/form-data">
    <div class="d-flex justify-content-center mb-2">
        <button type="submit" id="btnSave" class="btn btn-primary">Save</button>&nbsp;
        <button type="submit" id="btnEdit" class="btn btn-success" style="display:none">Update</button>&nbsp;
        <button type="button" id="btnDelete" class="btn btn-danger">Delete</button>&nbsp;
        <button type="reset" class="btn btn-warning">Clear</button>
    </div>
    <div class="container-fluid">
        <div class="row">
            <input type="hidden" id="customerId" name="customerId" />
            <div class="row mb-2">
                <label class="col-form-label col-2">Customer Id</label>
                <div class="col-4">
                    <input type="text" id="customerCode" class="form-control form-control-sm" value="@ViewBag.id" />
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-2">Customer Name</label>
                <div class="col-4">
                    <input type="text" id="name" name="name" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-2">Business Start</label>
                <div class="col-4">
                    <input type="date" id="businessStart" name="businessStart" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-2">Phone</label>
                <div class="col-4">
                    <input type="text" id="phone" name="phone" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-2">Email</label>
                <div class="col-4">
                    <input type="text" id="email" name="email" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-2">Credit Limit</label>
                <div class="col-4">
                    <input type="text" id="creditDetails" name="creditDetails" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-2">Address</label>
                <div class="col-4">
                    <input type="text" id="address" name="address" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-2">Customer Type</label>
                <div class="col-4">
                    <select id="customerType" name="customerType" class="form-select form-select-sm">
                        <option value="Dealer">Dealer</option>
                        <option value="Retailer">Retailer</option>
                        <option value="Corporate">Corporate</option>
                        <option value="Export">Export</option>
                        <option value="Online">Online</option>
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-2">Photo</label>
                <div class="col-4">
                    <input type="file" id="photoInput" name="photo" class="form-control form-control-sm" onchange="previewImage(event)" accept="image/*" />
                </div>
                <div class="col-6">
                    <img id="photoPreview" class="img-thumbnail d-none" style="width:40px;height:38px;object-fit:cover;" />
                </div>
            </div>
        </div>

        @*Delivery Address Table Section*@

        <h3 class="display-6">Customer Address Information</h3>
        <div class="d-flex justify-content-center">
            <div class="col-10">
                <table class="table table-bordered table-sm text-center">
                    <thead>
                        <tr>
                            <th>Delivery Address</th>
                            <th>Contact Person</th>
                            <th>Phone</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="deliveryAddressContainer">
                        <tr class="deliveryAddressRow" id="deliveryAddressRow_0">
                            <td>
                                <input type="text" name="DeliveryAddresses[0].Address" class="form-control form-control-sm" required />
                            </td>
                            <td>
                                <input type="text" name="DeliveryAddresses[0].ContactPerson" class="form-control form-control-sm" required />
                            </td>
                            <td>
                                <input type="text" name="DeliveryAddresses[0].Phone" class="form-control form-control-sm" required />
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm btnRemoveDeliveryAddress">Delete</button>
                                <button type="button" class="btn btn-success btn-sm btnAddDeliveryAddress">Add</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>


<h3 class="display-6">Customer List</h3>
<div class="d-flex justify-content-center">
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Customer Type</th>
                <th>Bus. Start</th>
                <th>Credit Limit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr onclick="editCustomer(@customer.CustomerId)">
                    <td>@customer.CustomerId</td>
                    <td>@customer.Name</td>
                    <td>@customer.Address</td>
                    <td>@customer.CustomerType</td>
                    <td>@customer.BusinessStart</td>
                    <td>@customer.CreditDetails</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function previewImage(event) {
            const input = event.target;
            const preview = document.getElementById('photoPreview');
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.classList.remove('d-none');
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        let addressCount = 1;
        document.getElementById('deliveryAddressContainer').addEventListener('click', function (e) {
            if (e.target.classList.contains('btnAddDeliveryAddress')) {
                const newRow = document.createElement('tr');
                newRow.classList.add('deliveryAddressRow');
                newRow.innerHTML = `
                            <td><input type="text" name="DeliveryAddresses[${addressCount}].Address" class="form-control form-control-sm" required /></td>
                            <td><input type="text" name="DeliveryAddresses[${addressCount}].ContactPerson" class="form-control form-control-sm" required /></td>
                            <td><input type="text" name="DeliveryAddresses[${addressCount}].Phone" class="form-control form-control-sm" required /></td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm btnRemoveDeliveryAddress">Delete</button>
                                <button type="button" class="btn btn-success btn-sm btnAddDeliveryAddress">Add</button>
                            </td>`;
                document.getElementById('deliveryAddressContainer').appendChild(newRow);
                addressCount++;
            }

            if (e.target.classList.contains('btnRemoveDeliveryAddress')) {
                e.target.closest('tr').remove();
            }
        });

        function editCustomer(customerId) {
            $.ajax({
                url: '/Customers/GetCustomer',
                type: 'GET',
                data: { id: customerId },
                success: function (response) {
                    if (response) {
                        $("#customerId").val(response.customerId);
                        $("#name").val(response.name);
                        $("#businessStart").val(response.businessStart.split('T')[0]);
                        $("#creditDetails").val(response.creditDetails);
                        $("#phone").val(response.phone);
                        $("#email").val(response.email);
                        $("#customerType").val(response.customerType);
                        $("#address").val(response.address);

                        if (response.photo) {
                            $("#photoPreview").attr("src", "/Uploads/" + response.photo).removeClass("d-none");
                        } else {
                            $("#photoPreview").addClass("d-none");
                        }

                        $("#deliveryAddressContainer").empty();
                        addressCount = 0;
                        response.deliveryAddresses.forEach((address, index) => {
                            const row = `
                                        <tr class="deliveryAddressRow">
                                            <td><input type="text" name="DeliveryAddresses[${index}].Address" class="form-control form-control-sm" value="${address.address}" required /></td>
                                            <td><input type="text" name="DeliveryAddresses[${index}].ContactPerson" class="form-control form-control-sm" value="${address.contactPerson}" required /></td>
                                            <td><input type="text" name="DeliveryAddresses[${index}].Phone" class="form-control form-control-sm" value="${address.phone}" required /></td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm btnRemoveDeliveryAddress">Delete</button>
                                                <button type="button" class="btn btn-success btn-sm btnAddDeliveryAddress">Add</button>
                                            </td>
                                        </tr>`;
                            $("#deliveryAddressContainer").append(row);
                            addressCount++;
                        });

                        $("#btnSave").hide();
                        $("#btnEdit").show();
                    }
                }
            });
        }

        document.getElementById("btnDelete").addEventListener("click", async () => {
            const customerId = document.getElementById("customerId").value;
            if (!customerId || customerId == 0) return alert("Please select a valid customer to delete!!");

            if (confirm("Are you sure to delete this customer?")) {
                try {
                    const response = await fetch(`/Customers/Delete/${customerId}`, { method: "POST" });
                    if (!response.ok) throw new Error("Failed to delete customer!!");

                    alert("Customer deleted!!!");
                    window.location.href = "/Customers/Index";
                } catch (err) {
                    alert(err.message);
                }
            }
        });

        document.querySelector('button[type="reset"]').addEventListener('click', function () {
            // Clear form fields
            document.getElementById("customerId").value = "";
            document.getElementById("customerCode").value = "@ViewBag.id";
            document.getElementById("name").value = "";
            document.getElementById("businessStart").value = "";
            document.getElementById("phone").value = "";
            document.getElementById("email").value = "";
            document.getElementById("creditDetails").value = "";
            document.getElementById("address").value = "";
            document.getElementById("customerType").selectedIndex = 0;
            document.getElementById("photoInput").value = "";
            document.getElementById("photoPreview").classList.add("d-none");
            document.getElementById("photoPreview").src = "";

            // Reset delivery address table with one empty row
            const container = document.getElementById("deliveryAddressContainer");
            container.innerHTML = `
                        <tr class="deliveryAddressRow" id="deliveryAddressRow_0">
                            <td><input type="text" name="DeliveryAddresses[0].Address" class="form-control form-control-sm" required /></td>
                            <td><input type="text" name="DeliveryAddresses[0].ContactPerson" class="form-control form-control-sm" required /></td>
                            <td><input type="text" name="DeliveryAddresses[0].Phone" class="form-control form-control-sm" required /></td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm btnRemoveDeliveryAddress">Delete</button>
                                <button type="button" class="btn btn-success btn-sm btnAddDeliveryAddress">Add</button>
                            </td>
                        </tr>
                    `;
            addressCount = 1;

            // Set Save button visible, Edit button hidden
            document.getElementById("btnSave").style.display = "inline-block";
            document.getElementById("btnEdit").style.display = "none";
        });
    </script>
}



